<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="http://getbootstrap.com/favicon.ico">
	<title>Datank-Pollin!</title>

	 <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  	<link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">
  </head>

  <body>
  	<div class="jumbotron">
        <h1>Datank-Pullin</h1>
        <p class="lead">Crea encuestas facil y rapido</p>
        <p><a class="btn btn-lg btn-success" href="/Polls" role="button">Crear encuesta!</a>
     </div>

  <footer class="footer">
      
  </footer>

   </body>
</html>