<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    
    <link href="{{ url_for('static', filename='css/Jugadores.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/Style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    
    <script src="static/js/react.js" type="text/javascript"></script>
    <script src="static/js/react-dom.js" type="text/javascript"></script>
    <script src="static/js/ReactRouter.min.js" type="text/javascript"></script>
    <script src="static/js/browser.min.js" type="text/javascript"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/polls.js') }}"></script>
    
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
     <link rel="icon" href="http://getbootstrap.com/favicon.ico">
     <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <script src="static/js/modernizr.js" type="text/javascript"></script>
   
     <script src="static/js/polls.js" type="text/babel"></script>
     <script src="static/js/polls2.js" type="text/javascript"></script>
  
    <title>Crea una encuesta</title>
    
   

  

  </head>

  <body>

    <div id="container">


    </div>
    
    
  </body>
</html>
